<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col one-half">
                <ul class="contact-list">
                    <li>
                        <a class="u-email" href="mailto:{{ site.email1 }}">{{ site.email1 }}</a>
                    </li>
                    <li>
                        <a class="u-email" href="mailto:{{ site.email2 }}">{{ site.email2 }}</a>
                    </li>
                    <li>
                        +44 7830 212 464
                    </li>
                    <li>
                         <a href="https://github.com/markvan">GitHub</a>
                    </li>
                    </li>
                </ul>
            </div>

            <div class="footer-col one-half">
                <p>{{- site.description | escape -}}</p>
            </div>


        </div>

    </div>

</footer>